importing the needed libraby stuff

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
import re
import joblib
import string

importing the file of data 
here we have two files :
1 > fake.csv
2 > true.csv

In [35]:
fake = pd.read_csv('Fake.csv')
true = pd.read_csv('True.csv')

C:\Users\DIPTESH\AppData\Local\Temp\ipykernel_17396\4167979911.py:1: DtypeWarning: Columns (4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171) have mixed types. Specify dtype option on import or set low_memory=False.
  fake = pd.read_csv('Fake.csv')

DATA SET

In [3]:
fake.head()

,title,text,subject,date,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166,Unnamed: 167,Unnamed: 168,Unnamed: 169,Unnamed: 170,Unnamed: 171
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

deopping all the unwanted columns

In [36]:
fake = pd.read_csv("Fake.csv")
fake = fake.dropna(axis=1, how="all")  

true = pd.read_csv("True.csv")
true = true.dropna(axis=1, how="all")

C:\Users\DIPTESH\AppData\Local\Temp\ipykernel_17396\1242193904.py:1: DtypeWarning: Columns (4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171) have mixed types. Specify dtype option on import or set low_memory=False.
  fake = pd.read_csv("Fake.csv")

In [5]:
fake.head()

,title,text,subject,date,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166,Unnamed: 167,Unnamed: 168,Unnamed: 169,Unnamed: 170,Unnamed: 171
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
true.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [37]:
fake.head()

,title,text,subject,date,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166,Unnamed: 167,Unnamed: 168,Unnamed: 169,Unnamed: 170,Unnamed: 171
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
fake = pd.read_csv("Fake.csv")
fake = fake.dropna(axis=1, how="all")

C:\Users\DIPTESH\AppData\Local\Temp\ipykernel_17396\3582853259.py:1: DtypeWarning: Columns (4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171) have mixed types. Specify dtype option on import or set low_memory=False.
  fake = pd.read_csv("Fake.csv")

In [39]:
fake.head()

,title,text,subject,date,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166,Unnamed: 167,Unnamed: 168,Unnamed: 169,Unnamed: 170,Unnamed: 171
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
true.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [11]:
fake.head()

,title,text,subject,date,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166,Unnamed: 167,Unnamed: 168,Unnamed: 169,Unnamed: 170,Unnamed: 171
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
fake = pd.read_csv("Fake.csv")
fake = fake.loc[:, ~fake.columns.str.contains('^Unnamed')]

true = pd.read_csv("True.csv")
true = true.loc[:, ~true.columns.str.contains('^Unnamed')]

C:\Users\DIPTESH\AppData\Local\Temp\ipykernel_17396\358598430.py:1: DtypeWarning: Columns (4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171) have mixed types. Specify dtype option on import or set low_memory=False.
  fake = pd.read_csv("Fake.csv")

In [42]:
fake.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [14]:
true.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

givin class to both the dataset and assigning 
0 for fake news
1 for true news

In [43]:
fake['class'] = 0
true['class'] = 1

here , we are concatenating two data set into one data

In [44]:
data = pd.concat([fake,true],axis= 0)

In [45]:
data.sample(10)

,title,text,subject,date,class
17414,UK finance minister's future questioned by PM ...,LONDON (Reuters) - Britain s finance minister ...,worldnews,"October 14, 2017",1
21035,HILLARY TRIES TO INJECT Social Class And Race ...,Maybe Hillary should be hiring someone to hand...,left-news,"Feb 6, 2016",0
13154,BLACK MEN FOR BERNIE FOUNDER Campaigns In Swin...,"Apparently, using thug Michael Ferguson s mom ...",politics,"Aug 27, 2016",0
4863,South Dakota's governor vetoes loosening of co...,(Reuters) - South Dakota’s Republican Governor...,politicsNews,"March 17, 2017",1
4042,U.S. Senate panel votes in favor of Gottlieb t...,(Reuters) - A U.S. Senate committee voted on T...,politicsNews,"April 27, 2017",1
23256,"Yahoo caves in to NSA, FBI – and secretly moni...",21st Century Wire says This will rank as one o...,Middle-east,"October 5, 2016",0
15260,"Saudi king appoints 30 judges, promotes 26 ami...",DUBAI (Reuters) - King Salman has appointed or...,worldnews,"November 9, 2017",1
14867,Hillary’s Latest Ad Pushes Muslim Agenda Of Su...,So the irony isn t lost on me when I saw the s...,politics,"Nov 30, 2015",0
15678,Saudi detains four current ministers in anti-c...,"KHOBAR, Saudi Arabia (Reuters) - Saudi Arabia ...",worldnews,"November 4, 2017",1
19021,Russian foreign ministry to meet visiting Nort...,MOSCOW (Reuters) - Russia s foreign ministry p...,worldnews,"September 26, 2017",1

droping the unwanted data columns from the data

In [46]:
data = data.drop(['title','subject','date'],axis = 1)

In [47]:
data.sample(10)

                                                    text  class
4279   MOSCOW (Reuters) - Russian Foreign Minister Se...      1
1621   WASHINGTON (Reuters) - North Korea’s Kim Jong ...      1
13473  Laura Ingraham reminds the Never Trump people ...      0
16018  A fly on the wall? More like a spy on the floo...      0
20140  Are these students bullies? Are they racists? ...      0
15402  SEVARE, Mali (Reuters) - Snipers from a new We...      1
10583  WASHINGTON (Reuters) - The Secret Service is i...      1
11627        https://www.youtube.com/watch?v=uCS4RB9G13M      0
993    Team Trump has reportedly been involved in a h...      0
15078  CAIRO (Reuters) - Egyptian military jets destr...      1

reseting index of data and dropping the index

In [48]:
data.reset_index(inplace=True)

In [49]:
data.drop(['index'],axis=1 ,inplace=True)

In [50]:
data.sample(5)

                                                    text  class
44906  WASHINGTON (Reuters) - The United States has d...      1
9446   Last week, the Washington Post reported that a...      0
25434  The following statements were posted to the ve...      1
42331  TOKYO (Reuters) - A fledgling party led by pop...      1
23874  WASHINGTON/NEW YORK (Reuters) - U.S. President...      1

1 : convert all the text into lower case
2 : remove the text which were the enclosed in the []
3 : this regular expression for replace all the non werb character like (digits,underscores) with a space 
4 : this will remove the url's which would be stating with http or https  or domain start with www. 
5 : using this we ll remove the html tags 
6 : this will remove the punctuation marks by asccaping and matching all characters in the strings.punctuation
7 : remove the new line characters 
8 : removing words which contains digits , it can be "132sdf"

In [29]:
def clean_text(text):
    text = text.lower()         
    text = re.sub('\[.*?\]',"",text)
    text = re.sub("\\w"," ",text)
    text = re.sub("https?:://\S+|www\.\S+" "",text)
    text = re.sub("<.*?>=+","",text)
    text = re.sub("[%s]" % re.escape(string.punctuation),"",text)
    text = re.sub("\n","",text)
    text = re.sub("\w*\d\w*","",text)
    return text

<>:3: SyntaxWarning: invalid escape sequence '\['
<>:5: SyntaxWarning: invalid escape sequence '\S'
<>:9: SyntaxWarning: invalid escape sequence '\w'
<>:3: SyntaxWarning: invalid escape sequence '\['
<>:5: SyntaxWarning: invalid escape sequence '\S'
<>:9: SyntaxWarning: invalid escape sequence '\w'
C:\Users\DIPTESH\AppData\Local\Temp\ipykernel_1216\1123824662.py:3: SyntaxWarning: invalid escape sequence '\['
  text = re.sub('\[.*?\]',"",text)
C:\Users\DIPTESH\AppData\Local\Temp\ipykernel_1216\1123824662.py:5: SyntaxWarning: invalid escape sequence '\S'
  text = re.sub("https?:://\S+|www\.\S+" "",text)
C:\Users\DIPTESH\AppData\Local\Temp\ipykernel_1216\1123824662.py:9: SyntaxWarning: invalid escape sequence '\w'
  text = re.sub("\w*\d\w*","",text)

In [1]:

def clean_text(text):
    text = text.lower()
    text = re.sub(r'\[.*?\]', '', text)  # remove things in [ ]
    text = re.sub(r'https?://\S+|www\.\S+', '', text)  # remove URLs
    text = re.sub(r'<.*?>', '', text)  # remove HTML tags
    text = re.sub(r'[%s]' % re.escape(string.punctuation), '', text)  # remove punctuation
    text = re.sub(r'\n', ' ', text)  # remove newlines
    text = re.sub(r'\w*\d\w*', '', text)  # remove words with numbers
    text = re.sub(r'\W+', ' ', text)  # replace non-word chars with space
    return text.strip()

In [30]:
data.sample(5)

                                                    text  class
28451  NEW YORK (Reuters) - U.S. environmental group ...      1
24778  LONDON (Reuters) - A top U.S. government legal...      1
39507  WASHINGTON (Reuters) - The Taliban has increas...      1
10032  Paul Goodloe was covering Hurricane Harvey for...      0
29447  WASHINGTON (Reuters) - U.S. President Donald T...      1

In [31]:
data.drop("index", axis=1, inplace=True)

KeyError: "['index'] not found in axis"

In [51]:
def clean_text(text):
    text = text.lower()
    text = re.sub(r'\[.*?\]', '', text)                                        # remove things in [ ]
    text = re.sub(r'https?://\S+|www\.\S+', '', text)                          # remove URLs
    text = re.sub(r'<.*?>', '', text)                                          # remove HTML tags
    text = re.sub(r'[%s]' % re.escape(string.punctuation), '', text)           # remove punctuation
    text = re.sub(r'\n', ' ', text)                                            # remove newlines
    text = re.sub(r'\w*\d\w*', '', text)                                       # remove words with numbers
    text = re.sub(r'\W+', ' ', text)                                           # replace non-word chars with space
    return text.strip()

In [52]:
data.sample(35)

                                                    text  class
32565  WASHINGTON (Reuters) - President Barack Obama,...      1
12149                                                         0
5714   As the United States celebrates gay pride, mar...      0
16858  Dinesh made some frightening predictions in hi...      0
35055  BEIJING (Reuters) - A country s right to choos...      1
17336  Apparently, keeping a slave and repeatedly rap...      0
39736  KINSHASA (Reuters) - The United States strongl...      1
18133   In our iconoclastic efforts to erase the past...      0
15385  If you haven t watched the commentary in Intel...      0
15607  Unfortunately, our troops have been affected m...      0
6831   Recently, liberal firebrands like George Cloon...      0
9214   Fox News just revealed what we knew but it s o...      0
42173  WASHINGTON (Reuters) - U.S. President Donald T...      1
43120  HOUSTON (Reuters) - Several Caribbean oil stor...      1
37867  BERLIN (Reuters) - German voters should be giv...      1
40125  PARIS (Reuters) - France will discuss the poss...      1
37083  COPENHAGEN (Reuters) - Divers searching waters...      1
2644   This is unseemly behavior by a First Lady and ...      0
33947  BEVERLY HILLS, Calif (Reuters) - Even as U.S. ...      1
19530  Police have identified Duncan Lloyd as the sus...      0
15581  Wouldn t it be great to have a president who m...      0
22287  Join Patrick every Wednesday at Independent Ta...      0
35864  BRASILIA (Reuters) - Brazilian President Miche...      1
37547  BRUSSELS (Reuters) - The sweet smell of waffle...      1
30351  (Reuters) - U.S. President-elect Donald Trump ...      1
5064   During a segment of Triumph s Summer Election ...      0
28625  (Reuters) - Highlights of the day for U.S. Pre...      1
4339   She was there to learn more about Donald Trump...      0
16504  Rush Limbaugh is spot on with his analysis of ...      0
20303  If this cop s comments were in lock-step with ...      0
9957    Kris Kobach   For years, the mainstream media...      0
33842   (This version of the story was corrected to c...      1
750    Donald Trump is very busy right now trying to ...      0
38037  BELGRADE (Reuters) - Paratroopers from Serbia ...      1
412    The city of Creston, in the heart of Iowa, sit...      0

In [53]:
data.sample(10)

                                                    text  class
33222  WASHINGTON (Reuters) - U.S. President Barack O...      1
28090  WASHINGTON (Reuters) - The top Democrat on the...      1
29293  WASHINGTON (Reuters) - U.S. Senator Chris Coon...      1
6204   President Barack Obama made history when he ap...      0
17743  The View s unhinged co-host Joy Behar, who is ...      0
10497  Immigration advocate Roberto Hernandez joined ...      0
23336  Tune in to the Alternate Current Radio Network...      0
2418   Vile GOP Senator Tom Cotton made the mistake o...      0
22361  Tune in to the Alternate Current Radio Network...      0
6348   With Donald Trump handing out nicknames left a...      0

In [26]:
data["text"] = data["text"].apply(clean_text)

In [27]:
data.sample(10)

                                                    text  class
19842  the list of hypocrites and sore losers who are...      0
12874  we all know by now that hillary clinton will m...      0
36745  united nations reuters the united states has q...      1
17835  harvey weinstein was among a host of hollywood...      0
2545   one of the guests at what trump calls the wint...      0
3492   donald trump may have decided that russia is g...      0
33680  winstonsalem nc reuters north carolina s gover...      1
10741  rush limbaugh nails it in the transcript below...      0
7066   donald trump has said many degrading and reduc...      0
4514   were you worried that donald trump might fall ...      0

🔎 What is Training and Testing in Machine Learning?

Training Data

This is the part of the dataset we use to teach the model.

The model looks at the input (text) and the output (class) to learn patterns.

Example:

Input: "Trump wins election" → Output: 1 (True news)

Input: "Aliens attacked the White House" → Output: 0 (Fake news)

By seeing many such examples, the model learns what fake and true news look like.

Testing Data

This is the part of the dataset that the model has never seen before.

We use it to check how well the model performs on new, unseen news.

Example: After training, we give it a new text "Government launches new scheme" → The model predicts if it’s Fake or True.

If the model gets it right most of the time, we know it has learned wel

in below code , We are spitting four parts :

******xtrain (Training Features)*******

These are the input news texts (from "text") used for training the model.
Example: "Government announces new policy" → model will read this.

*******ytrain (Training Labels)*******

These are the correct answers (from "class") for the training inputs.

Example: 1 (True news), 0 (Fake news).

The model uses these labels to learn the relationship between text and class.

*******xtest (Testing Features)*******

These are the input news texts reserved for testing (25% of the data).

The model has never seen these before.

********ytest (Testing Labels)********

These are the correct answers for the testing inputs.

We don’t show these to the model during training.

After training, we compare the model’s predictions with ytest to calculate accuracy, precision, recall, etc.



"xtrain and ytrain are like the practice material for the model: it learns patterns from them.

xtest and ytest are like the final exam: we test the model on new data (xtest) and check if its answers match the real answers (ytest)."

In [61]:
x = data["text"]
y = data["class"]

xtrain, xtest , ytrain, ytest = train_test_split(x,y,test_size=0.25,random_state=42)

using {TF- IDF factorizer}for converting textual data to numerical data ,
 here we create a tfidfvectorizer object

In [65]:
# Replace NaN with empty string
xtrain = xtrain.fillna("")
xtest = xtest.fillna("")

In [66]:
vectorizer = TfidfVectorizer()
xv_train = vectorizer.fit_transform(xtrain)
xv_test = vectorizer.transform(xtest)

In [67]:
data.sample(10)

                                                    text  class
6174   The conservative media, quite literally having...      0
10146  THE MUSLIM ACTIVIST GROUP CAIR is REALLY stepp...      0
30991  WASHINGTON (Reuters) - Republican Paul Ryan wa...      1
16657  Here s yet another example of the leadership i...      0
9698   State Department spokeswoman Heather Nauert di...      0
37001  NAIROBI (Reuters) - The U.S. military did not ...      1
38226  LONDON (Reuters) - British Prime Minister Ther...      1
13010                                                         0
40163  RIYADH (Reuters) - Saudi Arabia announced on T...      1
2834   This may shock you, this may not, but Trump ha...      0

In [68]:
lr = LogisticRegression()
lr.fit(xv_train,ytrain)

LogisticRegression()

In [69]:
prediction = lr.predict(xv_test)
lr.score(xv_test,ytest)

0.9864648263579697

In [70]:
print(classification_report(ytest,prediction))

              precision    recall  f1-score   support

           0       0.99      0.98      0.99      5943
           1       0.98      0.99      0.99      5287

    accuracy                           0.99     11230
   macro avg       0.99      0.99      0.99     11230
weighted avg       0.99      0.99      0.99     11230

In [71]:
joblib.dump(vectorizer,"vectorizer.jb")
joblib.dump(lr,"lr_model.jb")

['lr_model.jb']